<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Experience</h2>
                
                
                  <ul>
                  <li>this is my text</li>
                  <li>this is my text</li>
                  <li>this is my text</li>
                  <li>this is my text</li>
                  <li>this is my text</li>
                  </ul>
                <hr class="light">
                <p class="text-faded"> 
                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
