<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Experience</h2>
                <hr class="light">
                <p class="text-faded">
                
                  <ul class="checkmark">
                  <li id>this is my text aaaaaaaaaaaaaaaaaaaaaaaaaaaaasssssssssssssssssssssssssssssssssqqqqqqqqqqqqqqqqqq</li>
                  <li id>this is my texis my text aaaaaaaaaaaaaaaaaaaaaaaaaaaaasssssssssssssssssssssssssssssssssqqqqqqqqqqqqqqqqqqis my text aaaaaaaaaaaaaaaaaaaaaaaaaaaaasssssssssssssssssssssssssssssssssqqqqqqqqqqqqqqqqqqt</li>
                  <li id>this is my text</li>
                  <li id>this is my text</li>
                  <li id>this is my text</li>
                  </ul>
                
                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
