<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Experience</h2>
                <hr class="light">
                <p class="text-faded">
                
                  <ul class="checkmark">
                  <li id>Execution of software tests on site for Philip Morris International factory in Greece and Romania</li>
                  <li id>Implementation, deploying and testing Manufacturing Execution Systems for Phillip Morris International affiliates in Korea and Russia</li>
                  <li id>Preparing test case scenarios and testing new solution for existing MES system in Berlin (half year on site)</li>
                  <li id>Carrying out software testing and preparing test case scenarios(using HP Application Lifecycle Management tool) for the new functionality for existing MES system in Berlin (half year on site)</li>
                  <li id>Preparing user and installation guides for the new implemented solutions</li>
                  </ul>
                
                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
