<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Hi, I'm Paweł Koźlak.</h1>
            <hr>
            <p>I graduated from the Cracow University of Technology majoring in computer science and for two years  
                I have been working as a MES consultant in Andea Solutions.
                You will find here portfolio details, information about my person and contact to me.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Portfolio</a>
        </div>
    </div>
</header>
