<section class="bg-primary" id="oop">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Object-oriented programming</h2>
                <hr class="light">
                <p class="text-faded">    
                  <ul>
                  <li>Work experience - implementations of functions used to perform computations between business components using Delmia Apriso Process Builder tool.</li> 
                  </ul>   
                </p>
                <a href="#portfolio" class="btn btn-default btn-xl page-scroll">Skills</a>
            </div>
        </div>
    </div>
</section>
